<footer class="footer">
  <div class="footer-line"></div>
  <div class="footer-sitemap">
    <section>
      <a href="https://app.zeoowl.com/" class="footer-category">ZeoOwl</a><br>
      <a href="https://zeoowl.com/about" class="footer-item">About</a><br>
      <a href="/sitemap.xml" target="_blank" class="footer-item">Sitemap</a><br>
    </section>
    <section>
      <a href="https://app.zeoowl.com/" class="footer-category">Apps</a><br>
      <a href="https://app.zeoowl.com/live-wallpaper/aquarium" class="footer-item">Aquarium LWP</a><br>
      <a href="https://app.zeoowl.com/chess-clock" class="footer-item">Chess Clock</a><br>
      <a href="https://app.zeoowl.com/sudoku" class="footer-item">Sudoku</a><br>
    </section>
    <section>
      <a href="https://policies.zeoowl.com/" class="footer-category">Privacy & Terms</a><br>
      <a href="https://policies.zeoowl.com/privacy" class="footer-item">Privacy Policy</a><br>
      <a href="https://policies.zeoowl.com/terms" class="footer-item">Terms of Service</a><br>
      <a href="https://policies.zeoowl.com/technologies" class="footer-item">Technologies</a><br>
      <a href="https://policies.zeoowl.com/faq" class="footer-item">FAQ</a><br>
    </section>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 ZeoOwl. All rights reserved.</p>
  </div>
</footer>